<div class="expense-container mt-5">
  <div class="info-div row">
    <div class="category-selector col-6">
      <form action="/category" method="GET">
        <div class="dropdown">
          <button class="dropdown-toggle category-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{#defaultText category}}{{/defaultText}}
          </button>
          <input type="text" id="category-type" name="category" style="display: none;">
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><button type=submit class="dropdown-item category-item" id="all">總消費</button></li>
            <li><button type=submit class="dropdown-item category-item" id="housing">家居物業</button></li>
            <li><button type=submit class="dropdown-item category-item" id="transportation">交通出行</button></li>
            <li><button type=submit class="dropdown-item category-item" id="entertainment">休閒娛樂</button></li>
            <li><button type=submit class="dropdown-item category-item" id="food">餐飲食品</button></li>
            <li><button type=submit class="dropdown-item category-item" id="other">其他</button></li>
          </ul>
        </div>
      </form>
    </div>
    <div class="create-div col-6 d-flex justify-content-end">
      <a href="/expenses/new"><i class="far fa-plus-square"></i></a>
    </div>
    <div class="total-container col-12 d-flex mt-3 mb-3 justify-content-center">
      <div id="totalAmount">
      </div>
    </div>
  </div>
  <div class="list-group">
    {{#each expenses}}
    <div class="item-container row mb-2 mt-2">
      {{!-- icon --}}
      <div class="icon-div col-2 d-flex justify-content-center align-items-center">
        {{#checkIcon this.category}}{{/checkIcon}}
      </div>
      {{!-- name & date --}}
      <div class="name-date-div col-6">
        <div class="name-div mb-2">
          {{this.name}}
        </div>
        <div class="date-div">
          {{this.date}}
        </div>
      </div>
      {{!-- amount --}}
      <div class="amount-div col-2 d-flex justify-content-center align-items-center">
        {{this.amount}}
      </div>
      {{!-- edit & delete button --}}
      <div class="edit-delete-div col-2 d-flex justify-content-around align-items-center">
        <a href="/expenses/{{this._id}}"><i class="fas fa-edit"></i></a>
        <form action="/expenses/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i></button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>



<script src="/javascripts/dom/category.js"></script>
<script src="/javascripts/dom/totalAmount.js"></script>