<div class="expense-container">

  <div class="category-selector">
    <form action="/category" method="GET">
      <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          搜尋分類
        </button>
        <input type="text" id="category-type" name="category" style="display: none;">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><button type=submit class="dropdown-item category-item" id="all">總消費</button></li>
          <li><button type=submit class="dropdown-item category-item" id="housing">家居物業</button></li>
          <li><button type=submit class="dropdown-item category-item" id="transportation">交通出行</button></li>
          <li><button type=submit class="dropdown-item category-item" id="entertainment">休閒娛樂</button></li>
          <li><button type=submit class="dropdown-item category-item" id="food">餐飲食品</button></li>
          <li><button type=submit class="dropdown-item category-item" id="other">其他</button></li>
        </ul>
      </div>
    </form>
  </div>

  <div class="total-container">
    <span>總金額</span>
    <div id="totalAmount">
      20000
    </div>
  </div>




  <ul class="list-group">
    {{#each expenses}}
    <li class="list-group-item">{{this.name}}

      <div class="item-amount">{{this.amount}}</div>

      <div class="category-icon">
        {{#checkIcon this.category}}{{/checkIcon}}
      </div>


      {{this.date}} <a class="btn btn-success" href="/expenses/{{this._id}}">修改</a>
      <form action="/expenses/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-danger">刪除</button>
      </form>
    </li>
    {{/each}}
  </ul>



</div>



<script src="/javascripts/dom/category.js"></script>
<script src="/javascripts/dom/totalAmount.js"></script>